.img_afarinesh{
    width:250px;
}
.img_danesh{
    width: 290px;
}

@media only screen and (max-width:500px){
    .img_afarinesh{
        width:110px;
    }
    .img_danesh{
        width: 135px;
    }
    .max_height{
        max-height: 370px;
    }
}