a{
    text-decoration: none!important;
}
a:hover{
    color: darkgray!important;
}
.container-fluid{
    background-color: #F8F4F9;
}
.carousel_school{
    height: 280px;
    text-align: center;
}
.item_in{
    margin: 5px;
    height: 240px;
    direction: rtl;
}
body{
    text-align: right!important;
    font-family: 'Vazir'!important;
}
.header_carousel{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px 1px 1px;
}
.cart_course{
    height: 300px;
    padding: 10px;
}
.border_cart_course{
    height: 300px;
    text-align: center;
}
.div_cart_course{
    direction: rtl;
}
.header_top_info{
    height: 200px;
    background: #2cc2bc;
    direction: rtl;
}
.img_profile_user{
    border-radius: 50%;
    margin-top:25px;
    width:150px;
}
.details_user_info{
    margin-top: 30px;
}
.course_img{
    width: 80%;
    border-radius: 10px;
}
.p_course_list{
    margin:6px;
}
.img_notice_school{
    width: 95%;
    text-align: center;
    margin: auto;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
    border-radius: 5px;

}
.title_in_school{
    text-align: right;
    margin: 10px 12px 1px 1px;
    font-weight: bold; 
    font-size: 16px;     
}

.desc_in_school{
    text-align: right;
    margin: 5px 8px 1px 1px; 
    font-size: 10px;
    color: #32373B;
}

.box_on_header_top_info{
    position: absolute;
    width: 100%;
    background:#0090cd;
    border-radius: 20px;
    top: 55px;
    padding-bottom: 10px;
}
.p_info{
    color: white;
}
.img_title_course{
    font-size:20px;
    padding-top:20px;
}
.title_assigment{
    font-size: 17px;
    font-weight: bold;
    margin-right: 5px;
}
.desc_assigment{
    font-size: 12px;
    margin-right: 10px;
}
.desc_2_assigment{
    font-size: 11px;
    margin-right: 10px;
}
.dar_in_jalase{
    font-size: 9px;
    margin-right: 10px;
    color:#656176;
}
.dar_in_jalase_in{
    font-size: 10px;
    margin-right: 5px;
    color: #534D56;

}
.course_assigment_title{
    font-size: 20px;
    font-weight: bold;
}
.course_assigment_desc{
    font-size: 16px;
}
.course_assigment_desc_2{
    font-size: 13px;
}
.video_size{
    width: 60%;
}
.menu_top{
    font-size: 14px;
    color: cornsilk;
}
.header_top_info_2{
    height: 55px;
    background: #2cc2bc;
    direction: rtl;
}
@media (max-width:500px){
    .img_profile_user{
        border-radius: 50%;
        margin-top:10px;
        width:120px;
    }
    .header_top_info{
        height: 270px;
        background: #2cc2bc;
        direction: rtl;
    }
    .p_info{
        margin:5px;
        color: white;
    }
    .details_user_info{
        margin-top: 10px;
        text-align: center;
    }
    .cart_course{
        height: 250px;
        padding: 10px;
    }
    .border_cart_course{
        height: 270px;
        text-align: center;
    }
    .carousel_school{
        height: 250px;
        text-align: center;
    }
    .item_in{
        margin: 5px;
        height: 180px;
    }
    .box_on_header_top_info{
        position: absolute;
        width: 90%;
        background:#0090cd;
        border-radius: 20px;
        top: 68px;
        padding-bottom: 10px;
        margin-right: 1%;
    }
    .title_in_school{
       
    }
    .desc_in_school{
      
    }
    .img_title_course{
        font-size:16px;
        padding-top:5px;
    }
    .img_desc{
        font-size:10px;
    }
    .video_size{
        width: 90%;
    }
    .hide_in_phone{
        display: none;
    }
    .menu_top{
        display: block;
        font-size: 12px;
        color: cornsilk;
    }
    .header_top_info_2{
        height: 65px;
        background: #2cc2bc;
        direction: rtl;
    }
}
@media (max-width:400px){
    .hide_in_phone{
        display: none;
    }
}