.container-fluid{
    background-color: #F8F4F9;
}
.carousel_school{
    height: 280px;
    text-align: center;
}
.item_in{
    margin: 5px;
    height: 240px;
    direction: rtl;
}
body{
    text-align: right!important;
    font-family: 'Vazir'!important;
}
.header_carousel{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px 1px 1px;
}
.cart_course{
    height: 300px;
    padding: 10px;
}
.border_cart_course{
    height: 300px;
    text-align: center;
}
.div_cart_course{
    direction: rtl;
}
.header_top_info{
    height: 220px;
    background: #2cc2bc;
    direction: rtl;
}
.img_profile_user{
    border-radius: 50%;
    margin-top:25px;
    width:150px;
}
.details_user_info{
    margin-top: 30px;
}
.course_img{
    width: 80%;
    border-radius: 10px;
}
.p_course_list{
    margin:6px;
}
.img_notice_school{
    width: 80%;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    border-radius: 20px;

}
.title_in_school{
    margin: 20px 40px 0px 0px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    z-index: 9999;
    top: 0;
    color: white;
}
.desc_in_school{
    margin: 70px 55px 0px 0px;
    font-size: 12px;
    position: absolute;
    z-index: 9999;
    top: 0;
    color: black;
    width: 150px;
    text-align: right;
}

.box_on_header_top_info{
    position: absolute;
    width: 100%;
    background:#0090cd;
    border-radius: 20px;
    top: 80px;
    padding-bottom: 10px;
}
.p_info{
    color: white;
}
.img_title_course{
    font-size:20px;
    padding-top:20px;
}
.title_assigment{
    font-size: 17px;
    font-weight: bold;
    margin-right: 5px;
}
.desc_assigment{
    font-size: 12px;
    margin-right: 10px;
}
.desc_2_assigment{
    font-size: 11px;
    margin-right: 10px;
}

@media (max-width:500px){
    .img_profile_user{
        border-radius: 50%;
        margin-top:10px;
        width:120px;
    }
    .header_top_info{
        height: 270px;
        background: #2cc2bc;
        direction: rtl;
    }
    .p_info{
        margin:5px;
        color: white;
    }
    .details_user_info{
        margin-top: 10px;
        text-align: center;
    }
    .cart_course{
        height: 270px;
        padding: 10px;
    }
    .border_cart_course{
        height: 270px;
        text-align: center;
    }
    .carousel_school{
        height: 170px;
        text-align: center;
    }
    .item_in{
        margin: 5px;
        height: 180px;
    }
    .box_on_header_top_info{
        position: absolute;
        width: 90%;
        background:#0090cd;
        border-radius: 20px;
        top: -80px;
        padding-bottom: 10px;
        margin-right: 1%;
    }
    .title_in_school{
        margin: 12px 20px 0px 0px;
        font-size: 10px;
        font-weight: bold;
        position: absolute;
        z-index: 9999;
        top: 0;
        color: white;
    }
    .desc_in_school{
        margin: 45px 40px 0px 0px;
        font-size: 10px;
        position: absolute;
        z-index: 9999;
        top: 0;
        color: black;
        width: 90px;
        text-align: right;
    }
    .img_title_course{
        font-size:16px;
        padding-top:5px;
    }
    .img_desc{
        font-size:10px;
    }
}
@media (max-width:400px){
    .desc_in_school{
        margin: 45px 40px 0px 0px;
        font-size: 10px;
        position: absolute;
        z-index: 9999;
        top: 0;
        color: black;
        width: 80px;
        text-align: right;
    }


}